/* Fix user-agent */
* {
  box-sizing: border-box;
}
html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
html,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  word-wrap: break-word;
}
/* Login Page */
.login {
  background-color: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.login .form {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  height: 300px;
}
.login .form .separator {
  height: 1px;
  width: 100%;
  margin: 15px;
}
.login .form .snake-picker {
  background: #ffffff;
  padding: 25px;
  display: inline-block;
  margin: 20px;
}
.login .form .snake-picker .snake {
  cursor: pointer;
  padding: 3px;
  border: 1px solid #ffffff;
  transition: border 0.3s ease-in-out;
}
.login .form .snake-picker .snake:hover {
  border: 1px solid grey;
}
.login .form .snake-picker .snake.selected {
  border: 1px solid #000000;
}
.login .form .snake-picker .snake .snake-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
}
.login .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.3s ease-in-out;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
}
.login .form .usernameInput.warning {
  border-bottom: 2px solid orangered;
}
.login .title {
  font-size: 200%;
}
.login .title,
.login .usernameInput {
  color: #fff;
  font-weight: 100;
}
.main-container {
  height: 100%;
  overflow: hidden;
}
.main-container .row {
  height: 100%;
}
/* Pages */
.game-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: grey;
}
.game-wrapper .score_board {
  text-align: right;
}
.game-wrapper .score_board .snake {
  padding: 3px;
}
.game-wrapper .score_board .snake .snake-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid grey;
}
.game-wrapper .score_board .snake .snake-block:first-child {
  margin-left: 10px;
}
.game-wrapper .canvas-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  width: 450px;
  height: 450px;
}
.game-wrapper .canvas-wrapper:before {
  display: block;
  content: attr(data-name);
  text-align: center;
  color: inherit;
  font-size: 18px;
  position: absolute;
  bottom: 100%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px;
  text-transform: uppercase;
}
.game-wrapper .canvas-wrapper .game-canvas {
  position: absolute;
}
.log-wrapper {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.log-wrapper .log-list {
  overflow-y: scroll;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
}
.log-wrapper .log-list .log-element {
  font-size: 10px;
}
.chat-wrapper {
  /*top: 0;
  position: fixed;
  width: 350px;
  right: 0;*/

  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* Chat page */

}
.chat-wrapper .chat {
  display: none;
  height: 100%;
  /* Input */

}
.chat-wrapper .chat .chatHeader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: #e6e6e6;
  font-size: 12px;
  padding: 5px;
}
.chat-wrapper .chat .chatHeader .onlineUsers {
  margin: 0 5px 0 0;
  display: inline-block;
}
.chat-wrapper .chat .chatHeader #currentUser {
  display: inline-block;
}
.chat-wrapper .chat .chatArea {
  padding-top: 20px;
  height: 100%;
  padding-bottom: 60px;
}
.chat-wrapper .chat .chatArea .messages {
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}
.chat-wrapper .chat .chatArea .messages .log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}
.chat-wrapper .chat .chatArea .messages .message.typing .messageBody {
  color: gray;
  font-size: 10px;
}
.chat-wrapper .chat .chatArea .messages .username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}
.chat-wrapper .chat .inputMessage {
  border: 5px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  font-size: 100%;
}
