/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Login Page */

.login {
  background-color: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  .form {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    height: 300px;
    .separator {
      height: 1px;
      width: 100%;
      margin: 15px;
    }
    .snake-picker {
      background: #ffffff;
      padding: 25px;
      display: inline-block;
      margin: 20px;
      .snake {
        cursor: pointer;
        padding: 3px;
        border: 1px solid #ffffff;
        transition: border 0.3s ease-in-out;
        &:hover{
          border: 1px solid grey;
        }
        &.selected{
          border: 1px solid #000000;
        }
        .snake-block {
          display: inline-block;
          width: 10px;
          height: 10px;
          border: 1px solid #ffffff;
        }
      }

    }
    .usernameInput {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      transition: border-bottom 0.3s ease-in-out;
      outline: none;
      padding-bottom: 15px;
      text-align: center;
      width: 400px;
      font-size: 200%;
      letter-spacing: 3px;
      &.warning{
        border-bottom: 2px solid orangered;
      }
    }
  }
  .title {
    font-size: 200%;
  }
  .title, .usernameInput {
    color: #fff;
    font-weight: 100;
  }

}

.main-container {
  height: 100%;
  overflow: hidden;
  .row {
    height: 100%;
  }
}

/* Pages */
.game-wrapper {
  overflow: hidden;
  position: relative;
  //  display: inline-block;
  height: 100%;
  background-color: grey;
  .score_board{
    text-align: right;
    .snake {
      padding: 3px;
      .snake-block {
        &:first-child{
          margin-left: 10px;
        }
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid grey;
      }
    }
  }
  .canvas-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 450px;
    height: 450px;
    &:before{
      display: block;
      content: attr(data-name);
      text-align: center;
      color: inherit;
      font-size: 18px;
      position: absolute;
      bottom: 100%;
      margin: auto;
      left: 0;
      right: 0;
      padding: 5px;
      text-transform: uppercase;
    }
    .game-canvas {
      position: absolute;

    }
  }
}

.log-wrapper {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  .log-list {
    overflow-y: scroll;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    .log-element {
      font-size: 10px;
    }
  }
}

.chat-wrapper {
  /*top: 0;
  position: fixed;
  width: 350px;
  right: 0;*/
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: darken(#fff, 5%);
  //  display: none;
  /* Chat page */

  .chat {
    display: none;
    height: 100%;
    .chatHeader {
      position: absolute;
      top: 0;
      width: 100%;
      height: 20px;
      background-color: darken(#fff, 10%);
      font-size: 12px;
      padding: 5px;
      .onlineUsers {
        margin: 0 5px 0 0;
        display: inline-block;
      }
      #currentUser {
        display: inline-block;
      }
    }
    .chatArea {
      padding-top: 20px;
      height: 100%;
      padding-bottom: 60px;
      .messages {
        font-size: 12px;
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        padding: 10px 20px 10px 20px;
        .log {
          color: gray;
          font-size: 70%;
          margin: 5px;
          text-align: center;
        }
        .message.typing .messageBody {
          color: gray;
          font-size: 10px;
        }
        .username {
          float: left;
          font-weight: 700;
          overflow: hidden;
          padding-right: 15px;
          text-align: right;
        }
      }
    }
    /* Input */

    .inputMessage {
      border: 5px solid #000;
      bottom: 0;
      height: 60px;
      left: 0;
      outline: none;
      padding-left: 10px;
      position: absolute;
      right: 0;
      width: 100%;
      font-size: 100%;
    }
  }
}

